
<!DOCTYPE html>
<html>
    <head>
        <title>
            Design Veternary Page
        </title>
        <link rel="stylesheet" href="style.css">

    </head>

    <body>

     <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="project/img9.jpg" width="150px">
            </div>
            <nav>
                <ul>
                    <li><a href="first.html"><b>Doctors</b></a></li>
                    <li><a href="">User</a></li>
                    <li><a href="">Admin</a></li>
                    <li><a href="">Animal Info</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </div>

        <div><hr></div>
     
        <div class="mainbar">
        </div>
    
    </body>
</html>